@import url('https://fonts.googleapis.com/css?family=Roboto:700');


* {
  box-sizing: border-box;
}


body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}


/* nav bar -----------------*/


nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    padding: 10px 100px;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.53);
    transition: .5s;
}


nav.black {

    background: rgba(0, 0, 0, 0.8);
    height: 80px;
    padding: 10px 50px;
}


nav .logo img {
    height: 55px;
    transition: .5s;
    float: left;
}

nav .black .logo img {
    height: 60px;
}

nav.black ul.social li {
    background: transparent;
    transition: .5s;
}

nav.black ul.nav-links li a {
    color: rgba(255, 255, 255, 0.8);
    line-height: 60px;
}

nav.black ul li a.account-links{
    color: #ffffff;
}

.nav-links {
    float: left;
    margin: 0;
    padding-left: 2em;
    display: flex;
}

.nav-links li a {
    line-height: 80px;
    color: #000000;
    padding: 5px 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
    transition: .5s;

}

.social {
    float: right;

    display: flex;
}

.social li a {
    line-height: 0px;
    color: #ffffff;
    display: inline-block;
    padding: 11px 14px;
    transition: .5s;

}

/* social-media btn color ----------- */


li.fb-blue, .fa-facebook:hover{
    color: #457beb;
}

li.tweet-blue, .fa-twitter:hover{
    color: #86adff;
}

.fb-blue, .fa-facebook:hover{
    color: #457beb;
}

nav ul li {
    list-style: none;

}

.social li {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin-left: 10px;
    background-color: rgba(0, 0, 0, .8);


}

.social {

}

/*Pseudo Classes ----------------- */

.nav-links a.active,
.nav-links a:hover {
    color: #ff0000;

}

nav.black ul.nav-links a:hover {
    color: #ff0000;
}



/* Layout styles ----------- */


/* talk to erin about content */


.content{
    width: 960px;
    box-sizing: border-box;
    padding-left: 50px;
    padding-right: 50px;
    margin: auto;
}


/*this is a 2nd option for main image in ***section1*** .... img/riley-blunt.jpg talk with CEO*/

/* Sections ---------- */

section.sec1{
    margin-bottom: 25px;
}

section.sec1 img{
    max-width: 100%;
    height: auto;

}

section.sec2{
    margin-bottom: 25px;
}

section.sec2 img{
    max-width: 100vw;
    height: auto;

}

section.sec3{
    margin-bottom: 25px;
}

section.sec3 img{
    max-width: 100vw;
    height: auto;

section.content h1{
    margin: 0;
    padding: 0;
    font-size: 2em;
}

section.content p{
    margin: 20px 0 0;
    padding: 0;
    font-size: 1.1em;
}

section
